# Rust build artifacts
/target/
Cargo.lock
debug/

# Rust backup files (rustfmt)
**/*.rs.bk

# MSVC debug info
*.pdb

# Cargo mutants
**/mutants.out*/

# Database files created by the demo and tests
*.json
*.bin
*.json.tmp
*.bin.tmp

# OS artifacts
.DS_Store
Thumbs.db

# Editor artifacts
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
