# Rust build artifacts
/target/
Cargo.lock

# Database files created by the demo and tests
*.json
*.bin
*.json.tmp
*.bin.tmp

# OS artifacts
.DS_Store
Thumbs.db

# Editor artifacts
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
